
.main-menu {    
    margin-right: 221px;
    margin-left: auto;
  }
  
  .main-menu-container{
    list-style: none;
    margin-bottom: 0px;
    
  }
  
  .main-menu-container li{
    display: inline-block;
    margin-right: 40px;
  }
  .main-menu-item{
    
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .main-menu-item:hover{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgb(0 0 0 / 1%) 0 0 1px;
  }