.country-flag{
    width: 270px;
    height: 160px;
    margin: 20px;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: solid 2px #e1e1e1;
}

.country-details{
    text-align: left;
}

.emphasizedText{
    font-weight: bold;
}