.resetPassword{
    text-decoration: none;
    color: #e1e1e1;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
}
.resetPassword:hover{
    color: #350a4e;
    font-weight: bold;
    cursor: pointer;
}